  {% if multiple %}
   
      {% for item in items %}
        {{ item.content }}
      {% endfor %}

  {% else %}
   
    {% for item in items %}
      {{ item.content['#text']|striptags|raw }}
     
    {% endfor %}
    
  {% endif %}
  
 {{field_header_image.content}}