*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;

    background-color: #fff;
/*        background-color: #444;*/
    position: relative;
    
    padding-top: 50px !important;
}

html {
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
}



h1 {
    font-family: 'Lato', sans-serif;
}





.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.perfect-center {
    position: absolute;
    display: block;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.whitelink a{
    color: #fff;
}

.linkcenter {
    text-align: center;
    display: block;
}


/*Grid*/

[class^='grid-x'] {
    float: left;
    vertical-align: top;
}

.image-w-full img{
    width: 100%;
    height: auto;
}

.padd-sides-x10{
    padding-right: 30px;
    padding-left: 30px;
}

.grid-x1 {
    width: 100%;
}

.grid-x2 {
    width: 50%;
}

.grid-x3 {
    width: 33.33%;
}

.content-sidebar-x1 .myinvolvement  .grid-x3 {
    width: 50%;
}


.grid-x4 {
    width: 25%;
}

.grid-x5 {
    width: 20%;
}

.grid-x6 {
    width: 16.66%;
}

.grid-x80 {
    width: 80%;
}

.grid-x75 {
    width: 75%;
}

.grid-x60 {
    width: 60%;
}

.grid-x40 {
    width: 40%;
}

.clearfix:after {
    clear: both;
    display: block;
    content: '';
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.perfect-center {
    position: absolute;
    display: block;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.text-center{
    text-align: center;
    display: inline-block;
}

}.nopadding{
    padding: 0;
}


.port-wrapper{
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 60px;
}


.content-left{
    float: left;
    width: 70%;
}

.sidebar--right{
   
    padding-left: 100px;
    padding-top: 40px;

}

.sidebar--right h3{
    font-weight: 600;
}

.port-thumb{
    padding: 20px;
}

.port-thumb img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid yellow;
}

.port-facts{
    padding: 20px;
}

.port-title{
    font-weight: 800;
    padding-top: 40px;
    font-size: 32px;
}

.port-cta{
    padding: 20px;
}

.port-intro{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 150px;
    padding-left: 150px;
}

.port-related{
    
    margin-top: 50px;
    
}


hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


/*#########################*/


/*#### NAV ######*/


/*########################*/

/*
nav {

    width: 250px;

    color: #fff;
    min-height: 100%;
    background-color: #980017;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;

    margin-left: -200px;
}

.menu-list{
    margin-top: 30px;
    max-width: 200px;
    padding: 10px;

    text-decoration: underline;
}


.menu-list a{
    color: currentColor;
}

.menu-list__item{
    margin-bottom: 20px;
    list-style: none;
}

.menu-list__item-w-img{
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.menu-list__item-w-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-list img{
    width: 100%;
}



.menu-list>li ul{
    display: none;
}

.menu-list>li ul li{
   margin-bottom: 10px;
    list-style: none;
}



.burger {
    height: 30px;
    overflow: hidden;
    padding-top: 10px;
}

.burger img {
    height: 100%;
    float: right;
    padding-right: 10px;
}


.close-ico{
    display: none;
}
*/





/*#################  THE BOOTSTRAP ONE ####################*/


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    padding: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
  content: "\e080";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 10px;
  float: right;
  margin-top: 5px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
   
}
.navbar-nav li:last-child > .dropdown-menu {
  left: auto;
  right: 0px;
}
.navbar-nav li:last-child > .dropdown-menu a {
  text-align: right !important;
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > a:after {
  float: left;
  content: "\e079";
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
  left: -100%;
}

.navbar{
    background-color: #8d1e2e;
    margin-bottom: 0;
    border-radius: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 3px 5px #000;
}

.icon-bar{
    background-color: #fff;
}

.nav a{
    color: #fff;
}

.nav>li>a:hover{
    background-color: #fff;
    color: #980017;
}






/*#########################*/


/*#### Header ######*/


/*########################*/

header {
    background-color: #000;
    height: 500px;
    width: 100%;
}

.banner {
/*    padding-left: 50px;*/
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__overlay {
    position: absolute;
    
    top: 0;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner__copy {
    position: absolute;
/*    padding-left: 50px;*/
    bottom: 50px;
    left: 50px;
    max-height: 400px;
    max-width: 480px;
    color: #fff;
}

.banner__copy h1 {
    font-size: 50px;
    text-align: left;
    font-weight: 800;
}

.banner__copy p {
    font-size: 24px;
}


/*#########################*/


/*#### CONTENT ######*/


/*########################*/

.content {
    width: 100%;
    margin: 0 auto;
/*    padding-left: 50px;*/
}

.sidebar{

    float: left;
    width: 25%;
    padding-right: 50px;
    padding-left: 15px;
}

.content-sidebar-x1{

    float: left;
    width: 75%;
    padding-right: 30px;
}

.content-sidebar-x2{
    display: block;
    float: left;
    width: 50px;
}










/*#########################*/


/*#### MY SKILLS ######*/


/*########################*/

.floatleft{
    float: left;
    display: inline-block;
    
    
    width: 100%;
}

.skill-preview {
    max-width: 800px;
    margin: 0 auto;
}
.skill-thumb img{
    width: 100%;
    height: auto;
    padding-right: 20px;
}

.myskills {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.myskills--blog-pre{
    width: 100%;
    padding: 0 60px;
}


.myskills__title {
    color: #980017;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 28px;
}

.myskills__intro {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 10px auto;
}

.skill {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.skill__image {
    width: 100%;
    height: 200px;
    display: block;
}

.skill__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill__title {
    text-align: center;
    color: #ff8d01;
    margin-top: 5px;
    font-size: 24px;
}

.skill__description {
    text-align: center;
}

.skill__level {
/*
    width: 100%;
    text-align: center;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 6px 8px;
*/
}

.skill__level a{
/*    width: 100%;*/
    min-width: 220px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 8px;
    background-color: #ff8d01;
    text-decoration: none;
}

.skill__level--beginer {
    background-color: #ff8d01;
}


.skill-800{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*#################################################*/

/*########### END MY SKILLS #######################*/

/*#################################################*/


/*###################################*/
/*######## COMMON PAGES ##############*/
/*###################################*/

.common-copy{
    padding: 0 250px;
}

.common-image-x1{
    width: 100%;
}

.common-image-x2{
    width: 50%;
}

.common-image-x3{
    width: 33%;
}

[class^='common-image-x'] {
    float: left;
    padding: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}



[class^='common-image-x'].nopadding{
    padding: 0;
}

[class^='common-image-x'] img{
    width: 100%;
}

/*###################################*/
/*######END COMMON PAGES ############*/
/*###################################*/










/*#############################################*/
/*############## BLOG  ########################*/
/*#############################################*/

.blog-copy{
    padding-left: 60px;
    max-width: 750px;
}

.blog-copy__title{
    font-size: 30px;
    font-weight: bold;
    color: #980017;
    text-align: center;
}

.blog-copy__image{
    max-width: 400px;
    display: inline-block;
    margin-bottom: 35px;
    margin-top: 35px;
}

.blog-copy__image img{
    width: 100%;
}


/*#############################################*/
/*################ END OG BLOG #################*/
/*#############################################*/
















/*#####################################################*/


/*############ MY THOUGHTS ############################*/


/*#####################################################*/

.mythoughts {

    margin-left: auto;
    margin-right: auto;
    background-color: #287ec4;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.mythoughts--white{
  background-color: #fff;
  color: #000;
}

.mythoughts__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin: 10px;
    font-weight: 800;
    font-size: 28px;
}

.myinvolvement--white .mythoughts__title{
    color: #980017;
}

.mythoughts__intro {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 10px auto;
    display: block;
}

.thought-teaser {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    min-height:250px;
}

.thought-teaser__image {
    width: 70%;
    height: 200px;
    overflow: hidden;
    border: 2px solid;
}

.thought-teaser__image--right {
    float: right;
}

.thought-teaser__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thought-teaser__copy {
    height: 200px;
    width: 70%;
    border: 2px solid;
    padding: 10px;
    position: absolute;
    top: 50px;
    background-color: #f74452;
    color: #fff;
}

.thought-teaser__copy--right {
    right: 5px;
}

.thought-teaser__copy--left {
    left: 5px;
}


/*######*/



.mythoughts .grid-x2:nth-child(odd) .thought-teaser__copy{
    left: 5px ;
}


.mythoughts .grid-x2:nth-child(odd) .thought-teaser__image {
    float: right;
}





.mythoughts .grid-x2:nth-child(even) .thought-teaser__copy {
    right: 5px;
}

/*#######*/

.thought-teaser__copy a {
    color: #fff;
    margin-top: 15px;
    display: inline-block;
}

.thought-teaser__copy h3 {
    margin-bottom: 15px;
}

.viewmorelink{
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/*#####################################################*/


/*############ MY INVOLVEMENTS ############################*/


/*#####################################################*/

.myinvolvement{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-sidebar-x1 .myinvolvement{
    padding-left: 10px;
    padding-right: 10px;
}

.myinvolvement--blue{
    background-color: #225388;
    color: #fff;
}

.myinvolvement--gray{
    background-color: #e5e5e5;
    color: #000;
}

.involvement {
    /*    border-right: 3px solid;*/
    margin-right: 5px;
    margin-top: 20px;
/*    min-height: 170px;*/
}


.myskills-page .involvement{
    min-height: 240px;
    padding-left: 15px;
}

.involvement__image {
    width: 30%;
    height: 100px;
    float: left;
    vertical-align: top;
    position: relative;
}

.involvement__image--right {
    float: right;
    padding-right: 5px;
}

.involvement__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.involvement__image__text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding-top: 25px;
}



.involvrment__copy {
    float: left;
    width: 70%;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.involvment__copy__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.involvrment__copy__intro {
    margin-bottom: 15px;
}

.involvment__copy__link {
    color: currentColor;
    text-decoration: underline;
}

.involvement--clear-right {
    /*
    width: 100%;
    padding-right: 50%;
*/
    margin-right: 50%;
    border-right: 5px solid;
}

.involvement--clear-left {
    /*
    width: 100%;
    padding-left: 50%;
*/
    margin-left: 49.5%;
    border-left: 5px solid;
    border-color: red;
}


/*Testing*/

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px;
}

.mt30{
    margin-top: 30px;
}

.mt40{
    margin-top: 40px;
}

.mt50{
    margin-top: 50px;
}

.mt60{
    margin-top: 60px;
}

.mt70{
    margin-top: 70px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}



.pt-x10{
padding-top: 10px;
}

.pt-x20{
    padding-top: 20px;
}

.pt-x30{
    padding-top: 30px;
}

.pt-x40{
    padding-top: 40px;
}

.pt-x50{
    padding-top: 50px;
}

.style-block {
    width: 50%;
    float: left;
    min-height: 200px;
    border: 1px solid;
    padding: 20px;
}

.style-block-black {
    background-color: #000;
    color: #fff;
}

.one-block {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
}


/*Colors*/

.prim-1 {
    background-color: #d93646;
}

.prim-2 {
    background-color: #287ec4;
}

.prim-3 {
    background-color: #f65584;
}

.prim-4 {
    background-color: #ff8d01;
}

.prim-5 {
    background-color: #75c021;
}

.prim-6 {
    background-color: #565456;
}

.prim-7 {
    background-color: #2b292b;
}

.second-1 {
    background-color: #f74452;
}

.second-2 {
    background-color: #5fb0f5;
}

.second-3 {
    background-color: #ff96b6;
}

.second-4 {
    background-color: #ffab45;
}

.second-5 {
    background-color: #9ee84a;
}

.second-6 {
    background-color: #cac9ca;
}

.second-7 {
    background-color: #7f7d7f;
}

.tertiary-1 {
    background-color: #980017;
}

.tertiary-2 {
    background-color: #225388;
}

.tertiary-3 {
    background-color: #e62c3e;
}

.tertiary-4 {
    background-color: #bc6e37;
}

.tertiary-5 {
    background-color: #6da330;
}

.slide-copy a, .btn {
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    margin: 10px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    cursor: pointer;
}


.btn-orange{
    color: #ff8d01;
    border-color: #ff8d01;
}


.element-item a{
    
    padding: 5px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
}


.red-light {
    background-color: #da394a;
}

.red-dark {
    background-color: #980017;
}

.blue-light {
    background-color: #287ec4;
}

.blue-dark {
    background-color: #215487;
}

.final-color {
    width: 90px;
    height: 130px;
    padding: 50px 10px;
    color: #fff;
    float: left;
}

.color-1 {
    background-color: #d93646;
}

.color-2 {
    background-color: #287ec4;
}

.color-3 {
    background-color: #f65584;
}

.color-4 {
    background-color: #ff8d01;
}

.color-5 {
    background-color: #75c021;
}


/*###################################################################################
####################### Isotope #######################################################
#############################################*/

h1 {
    text-align: center;
    margin: 10px;
    font-weight: 800;
    font-size: 28px;
}

.button {
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 10px;
    background: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.grid {
    font-size: 0;
}

.element-item {
    width: 25%;
    display: inline-block;
    border: 2px solid #fff;
    font-size: 12px;
    color: #fff;
    vertical-align: top;
    height: 200px;
    position: relative;
}


.showcase{
     padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
}

.showcase-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 50px;
/*    padding-bottom: 50px;*/

}

.css {
    background-color: #08F;
}

.js {
    background-color: #f00;
}

.php {
    background-color: #0f6;
}

.html {
    background-color: #f09;
}



.showcase-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.shwcase-copy {
    padding: 10px;
    z-index: 93;
}

.shwcase-copy p{
    font-size: 14px;
    line-height: 16px;
}

.element-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*###########################################################
##########  SLIDER #########################################
####################################################*/

.slick-list {
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    overflow: hidden;
    height: 500px;
}

.slick-track{
    height: 100%;
}

.slide{
    width: 100% ;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.slide-copy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    max-width: 480px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;

}

.slide-copy h1{
    font-size: 30px;
    margin-bottom: 10px;
    padding: 15px;
}

.slide-copy p{
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-copy a{
    color: currentColor;
/*    text-decoration: underline;*/
}



.slick-dots li button {
    border: 2px solid #287ec4;
    border-radius: 50%;
}


.slick-dots li button:before{
    font-size: 60px;
}

.slick-dots{
    bottom: 5px;
}

.slick-dots li button::before{
    color: red;
}

.slick-next {
    right: 25px;
}


.slick-prev {
    left: 15px;
}


.slick-prev:before, .slick-next:before{
    padding: 5px;
    background-color: rgba(0,0,0,0.6);
}


/*##############################################################################*/
/*########################  END SLIDER ######################################*/
/*################################################################################*/




/*##############################################################################*/
/*########################  CONTACT ######################################*/

.contact-intro{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}


input[type='text'],input[type='email'], textarea{
    width: 100%;
}

.contact-form{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.js-form-item-name label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-textarea{
    margin-bottom: 20px;
}

.form-item{
    margin-bottom: 30px;
}


/*########################  CONTACT ######################################*/
/*################################################################################*/




/*#############################################################################################*/
/*######################################### FOOTER   ##############################################*/

footer{
    padding: 10px;
    background-color: #000;
    min-height:50px;
}





/*############################################### END FOOTER ##############################################*/
/*##########################################################################################################*/




/*

#################################################################################################################
#################################################################################################################

##################################### TABLET ######################################################

#################################################################################################################
#################################################################################################################
*/


@media (min-width:600px) and (max-width:880px) {
    
    
    .grid-x4{
        width: 50%;
        margin-bottom: 30px;
    }
    
    
    .grid-x2{
        width: 100%;
    }
    
    .involvement--clear-left{
        margin-left: 0;
    }
    
    .involvement--clear-right{
        margin-right: 0;
    }
    
    .common-copy{
        padding: 0 20px;
        margin-bottom: 150px;
    }
    
    [class^='common-image-x']{
        width: 50%;
        padding: 10px;
    }
    
   .element-item{
        width: 50%;
    }
    
    .involvement__image{
        width: 100%;
        margin-bottom: 15px;
    }
    
    .involvrment__copy{
        width: 100%;
    }
    
    .grid-x3{
        width: 50%;
    }
    
    
    
    
    



}








/*

#################################################################################################################
#################################################################################################################

##################################### MOBILE ######################################################

#################################################################################################################
#################################################################################################################
*/



@media only screen and (min-width:320px) and (max-width:599px){
    
    
    
    
    [class^='grid-x'] {
        width: 100%;
    }
    
    .content-sidebar-x1 .myinvolvement  .grid-x3{
        width: 100%;
    }
    
    .thought-teaser__copy{
        height: auto;
    }
    
    .element-item{
        width: 100%;
    }
    
    .involvement__image{
        width: 50%;
        margin-bottom: 15px;
    }
    
    .involvrment__copy{
        width: 100%;
    }
    
    .slide-copy h1{
        font-size: 26px;
    }
    
    .thought-teaser{
        min-height: 300px;
    }
    
    .banner__copy h1{
        font-size: 35px;
    }
    
    
    .involvement--clear-right, .involvement--clear-left{
        margin-right: 0;
        margin-left: 0;
    }
    
    .blog-copy{
        padding-left: 20px;
        padding-right: 10px;
        margin-bottom: 150px;
    }
    
    .myskills--blog-pre{
        padding: 0 20px;
    }
    
    
    .skill{
        margin-bottom: 50px;
    }
    
    .common-copy{
        padding: 0 20px;
        margin-bottom: 150px;
    }
    
    
    [class^='common-image-x']{
        width: 100%;
        padding: 10px;
    }
    
    .sidebar{
        width: 100%;
        
    }
    
    .content-sidebar-x1{
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        
    }
    
    .involvrment__copy{
        width: 100%;
    }
    
    .slide-copy{
        left: 25px;
        right: 25px;
    }
    
    
    
    
    
    
}































