<div class="grid-x3">

    <div class="involvement clearfix">

        <span class="involvement__image">
            {{content.field_skill_thumbnali[0]}}
        </span>

        <div class="involvrment__copy">

            <h4 class="involvment__copy__title">{{content.field_skill_tittle}}</h4>
            

            {% set text = content.field_skill_intro[0]['#text']|render|striptags %}
            <p class="involvrment__copy__intro">{{ text|length > 90 ? text|slice(0, 90) ~ '...' : text }}</p>
            
            
            {% if content.field_skill_or_involvement[0]['#markup'] == 'Skill' %}
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="involvment__copy__link">View Skill</a>
            {% else %}
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="involvment__copy__link">Read More</a>
            {% endif %}

        </div>

    </div>

</div>