   
<div class=" wrapper">
   
  <header>
    {{content.field_portfolio_header}} 
  </header>
   
   <div class="port-wrapper container">
       
       
       <div class="grid-x75">
           
        <h1 class="myskills__title port-title">{{content.field_portfolio_title}}</h1>  
         
        <div class="port-intro">
          {{content.field_portfolio_intro}}
        </div> 
           
        <div class="clearfix ">   
           {{content.field_portfolio_body}}
        </div> 
          
        <br>
          
          
        {% if content.field_portfolio_related[0] %}
          
        <div class="clearfix port-related">
           
           <h1 class="myskills__title">{{content.field_portfolio_related_title}}</h1>

            <p class="mythoughts__intro">{{content.field_portfolio_related_intro[0]['#context'].value}}</p>
                   
           
            {{content.field_portfolio_related}}
            
            
        </div>  
          
        {% endif %}
           
           <br>
           
        <div class="clearfix"></div>   
           
       </div>
       
       <div class="grid-x4">
          <div class="sidebar--right">
               <h3 class="text-align-center">{{content.field_portfolio_sidebar_title}}</h3>
               <div class="port-thumb">
                   {{content.field_portfolio_thumbnail}}
               </div>
               <div class="port-facts">
                   {{content.field_portfolio_facts}}
               </div>
               <div class="port-cta">
                   {{content.field_portfolio_cta}}
               </div>
           </div>
       </div>
       
       
       
   </div>
  
    

    
</div>
   
