  <div class="slide">
   {{ content.field_image[0] }}
    <span class="slide-copy ">
        <h1>{{ content.body[0]['#text']|raw|striptags }}</h1>
        <p>{{ content.field_banner_subtext[0]['#context'].value|raw|striptags }}</p>
        {{ content.field_bannerctalink[0] }}
    </span>
  </div>





