   
<div class="page-wraper">
    <div class="slider">   
    {{content.field_home_slider}}
    </div>
    
    <div class="clearfix  myskills mt30">


             <h1 class="myskills__title mb20">{{content.field_home_title[0]['#context'].value}}</h1>

            <div class="myskills__intro mb40">{{content.field_home_intro[0]}}</div>
          
            <hr>

            {{content.field_home_skills}}
            <hr>
           
    </div>
    
    
    {{content.field_home_blog_preview}}
    
    <div class="clearfix">
        {{content.skills_pre}}
    </div>
    
    
    
    <div class="showcase" id="myportfolio">



            <h1 class="myskills__title">{{content.field_home_portfolio_title}}</h1>
           
           
       
            <div class="mythoughts__intro">{{content.field_home_portfolio_intro[0]}}</div>
            <hr>



            <div class="button-group filters-button-group">
               
                <button class="button is-checked" data-filter="*">All</button>
                
                {{content.field_home_filters_button}}
                    
            </div>

            <div class="grid" style="position: relative; height: 400px;">

               
               {{ drupal_view('portfolio_blocks', 'page_1') }}
               

            </div>


        </div>
    
    
    
    
    <div class="clearfix myinvolvement myinvolvement--blue">
            {{content.field_home_my_involvements_block}}
    </div>
    
    
    
    
</div>
   






