<div class="grid-x3">

  <div class="involvement clearfix">

      <span class="involvement__image">
          {{content.field_portfolio_thumbnail}}
      </span>

      <div class="involvrment__copy">


          <h4 class="involvment__copy__title">{{content.field_portfolio_title}}</h4>
          
          {% set text = content.field_portfolio_intro[0]['#context'].value|render|striptags %}
            <p class="involvrment__copy__intro">{{ text|length > 90 ? text|slice(0, 90) ~ '...' : text }}</p>
          <br>
          <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="involvment__copy__link">Read More</a>

      </div>


  </div>

</div>