   
<div class="page-wrapper">
   
   
    <section>   
    {{content.field_about_header}}
    </section>
    
    <h1>{{content.page_tittle}}</h1>
    
    <div class="myskills__intro mb80 mt30">
      {{content.body}}
    </div>
    
    <div class="content">
        
        <div class="clearfix mb80 myskills">
            {{content.field_about_history_block}}
        </div>
    
    
    
    
        <div class="clearfix mb20 myinvolvement myinvolvement--blue">
            {{content.field_my_skills_block}}
        </div>


        <div class="clearfix mb20 myinvolvement myinvolvement--white">
            {{content.field_my_involvements_block}}
        </div>
        
        <div class="clearfix mb20 myinvolvement myinvolvement--white">
            {{content.field_mycv}}
        </div>
    
       
    
    
    </div>
    
</div>