<div class=" wrapper">
   
  <header>
    {{content.field_basic_header}} 
  </header>

   <br><br>
   <div>
        <div class=" ">
           <h1 class="myskills__title port-title">{{content.field_page_title[0]['#context'].value}} </h1> 
        </div>

        <div class="port-wrapper clearfix mb40">

            <div>
                {{content.field_basic_body}} 
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
    
    
    <div class="clearfix">
        
        {{content.field_featured_blogs}}
        
    </div>
    
    
    <div class="clearfix">
        
        
        
        
        <div class="clearfix  myinvolvement ">


            <!-- <h1 class="mythoughts__title">My Kills</h1> -->

            <p class="mythoughts__intro">{{content.field_blog_land_sub_intro[0]['#context'].value}}</p>



            {{ drupal_view('blogs_view') }}


            

        </div>
        
        
        
        
    </div> 
    
    
    
    
    
    
    
    
    

</div>