   
<div class="page-wrapper ">
   
  <header>
    {{content.field_skill_header}} 
  </header>
   
   <div class="clearfix mt30 mb20"></div>

   <section>
      <div class="skill-preview">
           <div class="grid-x5 skill-thumb">
               {{content.field_skill_thumbnali}}
           </div>
           <div class="grid-x75">
               <h1 class="skill__title">{{content.field_skill_tittle}}</h1>
               <p>{{content.field_skill_intro}}</p>
               <span class="skill__level skill__level--beginer">{{content.field_skill_level}}</span>
           </div>
       </div>
   </section>
   
   <div class="clearfix mt30 mb20"></div>
   
   <section class="skill-800 padd-sides-x10">
       {{content.field_skill_body_block}}
   </section>
    

    
</div>
   
