<div class="grid-x4">

    <div class="skill">
         <span class="skill__image"> {{content.field_blog_thumbnail[0]}}   </span>
         <h4 class="skill__title">{{content.field_blog_title[0]['#context'].value}}</h4><br>
         
         {% set text = content.field_blog_intro[0]['#context'].value|render|striptags %}
            <p class="skill__description">{{ text|length > 120 ? text|slice(0, 120) ~ '...' : text }}</p>
        
         <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="involvment__copy__link">Read More</a>
         <br><br>
    </div>

 </div>