<div class=" wrapper">
   
  <header>
    {{content.field_common_header}} 
  </header>

   <br><br>
   <div>
        <div class=" mt10">
           <h1 class="myskills__title port-title">{{content.field_common_page_title[0]['#context'].value}} </h1> 
        </div>

        <div class="port-wrapper clearfix ">

            <div>
                {{content.field_common_body}} 
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
    
    
    
     <div class="showcase" id="myportfolio">



        <h1 class="myskills__title">{{content.field_custom_portfolio_title}}</h1>



        <p class="mythoughts__intro">{{content.field_custom_portfolio_intro[0]['#context'].value}}</p>
        <hr>



        <div class="button-group filters-button-group">

            <button class="button is-checked" data-filter="*">All</button>

            {{content.field_home_filters_button}}

        </div>

        <div class="grid" style="position: relative; height: 400px;">


           {{ drupal_view('portfolio_blocks', 'page_1') }}


        </div>


    </div>
    
    
    
    
    
    
    
    
    

</div>