<div class="grid-x2">

    <div class="thought-teaser">
        <div class="thought-teaser__image ">
            {{content.field_blog_thumbnail[0]}}
        </div>
        <div class="thought-teaser__copy ">
            <h3>{{content.field_blog_title}}</h3>
            
            {% set text = content.field_blog_intro[0]['#context'].value|render|striptags %}
            <p>{{ text|length > 120 ? text|slice(0, 120) ~ '...' : text }}</p>
            
            <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="involvment__copy__link text-center">Read More</a>
        </div>
    </div>

</div>