<div class=" wrapper">
   
  <header>
    {{content.field_common_header}} 
  </header>

   <br><br>
   <div>
        <div class="mb80 mt30">
           <h1 class="myskills__title port-title">{{content.field_common_page_title[0]['#context'].value}} </h1> 
        </div>

        <div class="port-wrapper clearfix mb80">

            <div>
                {{content.field_common_body}} 
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    

</div>