<div class="grid-x4">

    <div class="skill text-center">
        <span class="skill__image"> {{content.field_skill_thumbnali[0]}}   </span><br>
        <h4 class="skill__title">{{content.field_skill_tittle}}</h4><br>
        
        
        {% set text = content.field_skill_intro[0]['#text']|render|striptags %}
        <p class="skill__description">{{ text|length > 90 ? text|slice(0, 90) ~ '...' : text }}</p>
        
        <span class="skill__level skill__level--beginer">{{content.field_skill_level}}</span><br>
        
        {% if content.field_skill_or_involvement[0]['#markup'] == 'Skill' %}
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="btn btn-orange text-center">View Skill</a>
            {% else %}
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="btn btn-orange text-center">Read More</a>
        {% endif %}
        
        <br><br>
    </div>

</div>


