<div class=" wrapper">
   
  <header>
    {{content.field_blog_header}} 
  </header>


    <div class="mb20">
      
     
       <h1 class="myskills__title port-title">{{content.field_blog_title[0]['#context'].value}} </h1>
       
        {% if content.field_blog_time[0] %}
       <p class="container blog--time text-align-center">Written :  {{ post.published_at|date(format='j  F  Y') }} </p>
       
      {#content.field_blog_time[0]#}
        {% endif %}
       
    </div>
    
    <div class="port-wrapper clearfix mb80">
        
        <div class="skill__description mb80">
        {{content.field_blog_intro}}
        </div>
        
        <div>
            {{content.field_blog_body}} 
        </div>
        
    </div>
    
    <div class="clearfix"></div>
    
    {% if content.field_blog_related_item[0] %}
    
    <div class="clearfix port-wrapper">
       
       <h1 class="myskills__title">{{content.field_blog_related_title[0]['#context'].value}}</h1> 
        
        <p class="mythoughts__intro mb20">{{content.field_blog_related_intro[0]['#context'].value}} </p>
        
        <div>{{content.field_blog_related_item}} </div>
              
    </div>
    
    {% endif %}

</div>