<div class="home-left">

    <span class="pagetitle">{{content.field_page_title}}</span>
    <br>
    <br>
    <span class="articleintro">{{content.field_about_tagline}}</span>
    <br>
    <br>
    <div class="homearticles">{{content.field_article_intro}}</div>
    <br>
    <div class="teasertitle">{{content.field_first_home_sub_title}}</div>
    <br>
    <div class="homepersonarticle">{{content.field_person_articles}}</div>
    <br>
    <span class="teasertitle">{{content.field_sec_home_sub_title}}</span>
    <br>
    <div>
    {{content.field_person_sermons}}
    </div>
    <span>
    {{left_sidebar.field_article_intro}}
    </span>


</div>
