
      

<div id="page-wrapper">

    <div class="nav">
        {{ page.nav }}
    </div> 
  
   <div class="">
       {{page.content}}
   </div>
   
   


    <div class="clearfix"></div>

    <div class="clearfix">
    <footer class="site-footer" >
        <div class="layout-container">
            {% if page.footer %}
            <div class="site-footer__bottom">
                {{ page.footer }}
            </div>
            {% endif %}
        </div>
    </footer>
</div>