
<div id="page-wrapper " class="myskills-page">
    <div class="nav">
        {{ page.nav }}
    </div>
    
    
    <div id="page" >

        <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
            <div id="main" class="layout-main clearfix" style="width:100%;">
             
                <main id="content" class="column " role="main">
                    {% if page.left_sidebar %}
                    <section class="section">
                        <div id="sidebar-first" class="column sidebar">
                            <aside class="section" role="complementary">
                                {{ page.left_sidebar }}
                            </aside>
                        </div>
                    </section>
                    {% endif %}
                    <section class="section main-content" >
                        <a id="main-content" tabindex="-1"></a>
                        {{ page.content }}

                    </section>
                    {% if page.right_sidebar %}
                    <section class="right-sidebar" >


                                {{ page.right_sidebar }}


                        </section>
                    {% endif %}
                </main>
            </div>
        </div>
        
        
        <footer class="site-footer">
            <div class="layout-container">
                {% if page.footer %}
                <div class="site-footer__bottom">
                    {{ page.footer }}
                </div>
                {% endif %}
            </div>
        </footer>
    </div>
</div>
