
{% if content.field_body_image[0] %}
<span class="{{content.field_body_image_grid[0]['#markup']}} image-w-full">
    {{ content.field_body_image[0] }}
</span>
{% endif %}


{% if content.field_body_copy[0]['#text'] %}
<span class="{{content.field_body_copy_grid[0]['#markup']}} padd-sides-x10">
    {{content.field_body_copy[0]['#text']|raw}}  
    
</span>
{% endif %}


{% if content.field_body_link[0] %}
<span class="{{content.field_body_link_class[0]['#context'].value}}">
     {{content.field_body_link}}
</span>
{% endif %}

{% if content.field_body_break[0]['#markup'] == 'Break' %}

    <div style="float:left; width:100%; height:20px;">
        
    </div>
{% endif %}