<div class="clearfix mb50 mythoughts">

            <h1 class="mythoughts__title">{{content.field_blog_preview_title[0]['#context'].value}}</h1>

            <div class="mythoughts__intro">{{content.field_blog_preview_intro[0]}}</div>
            <hr>
            
            <div class='clearfix'>
            {{content.field_blog_preview_blogs}}
            </div>
            
            <div class='clearfix whitelink linkcenter mt60'>
                {{content.field_blogs_view_all[0]}}
            </div>

</div>
    