
<h1 class="mt30 myskills__title">
    {{content.field_my_skills_preview_homepage[0]['#context'].value}}
</h1>


<div class="mythoughts__intro mb20">
    {{content.field_my_skills_preview_home_int[0]}}
</div>


<div class="clearfix">
    {{content.field_my_skills_preview_home_ski}}
</div>

<div class="viewmorelink clearfix">
    {{content.field_my_skills_pre_link}}
</div>
