
    
    
    <div class="slide">
        {{ content.field_picture.value }}
            <span class="slide-copy ">
            <h1>{{ content.field_banner_copy }}</h1>
            <p>{{ content.field_banner_subtext }}</p>
             {{ content.field_bannerlink }}
             </span>
    </div>
    

