{% if content.field_history_block_side[0]['#markup'] == 'Left' %}
    <div class="grid-x2 involvement--clear-right">
{% else %}
    <div class="grid-x2 involvement--clear-left">
{% endif %}


    <div class="involvement clearfix ">

       
       
        {% if content.field_history_block_side[0]['#markup'] == 'Left' %}
            <span class="involvement__image involvement__image--left">
        {% else %}
            <span class="involvement__image involvement__image--right">
        {% endif %}

           <span class="involvement__image__text " style="background-color: rgba({{content.field_history_overlay_color[0]['#context'].value}}, {{content.field_history_overlay_percent[0]['#context'].value / 100 }});">{{content.field_history_overlay_text[0]['#context'].value}}</span>
           {{ content.field_history_image[0] }}
        </span>

        <div class="involvrment__copy">
                

            <h4 class="involvment__copy__title">{{content.field_history_tittle[0]['#context'].value}}</h4>
            <p class="involvrment__copy__intro">{{content.field_history_body[0]['#context'].value}}</p>

            {{content.field_history_link}}

        </div>


    </div>

</div>


