
<h1 class="mythoughts__title">
    {{content.field_my_skills_preview_title[0]['#context'].value}}
</h1>


<div class="mythoughts__intro">
    {{content.field_my_skills_preview_intro[0]}}
</div>


<div>
    {{content.field_my_skills_preview_skill}}
</div>


<div class="viewmorelink clearfix whitelink">
    {{content.field_my_skills_preview_link}}
</div>