<div class="banner">

    {{ content.field_header_image[0] }}

    <div class="banner__overlay" style="background-color: rgba({{content.field_header_overlay_color[0]['#context'].value}}, 0.{{content.field_header_overlay_percent[0]['#context'].value}});"></div>
    <span class="banner__copy">
     <h1>{{content.field_header_text[0]['#context'].value}}</h1>
     
    </span>
        
</div>
