
<h1 class="mythoughts__title">
    {{content.field_my_involv_preview_title[0]['#context'].value}}
</h1>


<div class="mythoughts__intro">
    {{content.field_my_involv_preview_intro[0]}}
</div>


<div>
    {{content.field_my_involv_preview_skill}}
</div>